.container {
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 595px;

  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 32px 40px;
  box-shadow: 1px 1px 10px #000;
}
